<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SHORT_SERVICE" />

    <application>
        <service
            android:name="com.summer.ner.NerInferenceService"
            android:enabled="true"
            android:exported="false"
            android:process=":ner" />
    </application>

</manifest>
